# Local .terraform directories
.terraform/

# State files
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log

# Ignore override files
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Optional: ignore lock file if you don’t want to commit it
.terraform.lock.hcl